<footer>
    <div class="footer sticky-bottom">
        <div class="footer-info">
            <a href="#">© 2024 Airbnb .</a>&nbsp;
            <a href="#">Privacy .</a>&nbsp;
            <a href="#">Company details</a>
        </div>
        <div class="footer-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>
</footer>