<nav class="navbar sticky-top navbar-expand-md bg-body-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa-regular fa-compass"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8080/listings">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/listings/new">Add Listing</a>
                </li>
                <% if(!currUser){%>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/login">Login</a>
                </li>
               <% } else { %>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/logout">logout</a>
                </li>
                <% } %>

            </ul>
            <form action="http://localhost:8080/listings/search"  method="get" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search By Country" aria-label="Search" name="search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
