<% layout('/layouts/boilerplate') %>

<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (list of lists) { %>
            <a href="http://localhost:8080/listings/<%= list._id %>/show" class="listing-link">
                <div class="card mt-sm-3 listing-card">
                    <img src="<%= list.image %>" class="card-img-top rounded" id="card-img" alt="Hotel-img">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <h5 class="card-title mt-1"><%= list.title %></h5>
                        <p class="card-text">&#8377; <%= list.price.toLocaleString("en-IN") %>/night</p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
