<% layout('/layouts/boilerplate') %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Add New Listing</h3>
            <form method="POST" class="needs-validation" action="/listings"  novalidate>
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="list[title]" placeholder="Add a Catchy Title" required>
                    <div class="invalid-feedback">
                        Please provide a title.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="list[description]" required>
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image">Image Link:</label>
                    <input type="text" class="form-control" id="image" name="list[image]" >
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" id="price" name="list[price]" placeholder="2000" required>
                        <div class="invalid-feedback">
                            Please provide a price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location">Location:</label>
                        <input type="text" class="form-control" id="location" name="list[location]" placeholder="Jaipur, Rajasthan" required>
                        <div class="invalid-feedback">
                            Please provide a location.
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="country" name="list[country]" placeholder="India" required>
                    <div class="invalid-feedback">
                        Please provide a country.
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</body>
